
<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">



    <span>{{ title }} app is running!</span>



  </div>

  <!-- Resources -->
  <h2>time: {{data?.timestamp}}</h2>
  <h2>coordinates : {{data?.iss_position.latitude}},{{data?.iss_position.longitude}}</h2>






<button mat-button (click)="openDialog()">לחץ כאן</button>

<ul>
  <li *ngFor="let item of listData; let i = index" [attr.data-index]="i">
    <h2>time: {{item.timestamp}}</h2>
    <h2>coordinates : {{item.iss_position.latitude}},{{item.iss_position.longitude}}</h2>
    <h2>note : {{item.message}}</h2>
  
  </li>
</ul>
</div>
